* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw; height: 100vh;
    display: grid;
    grid-template: 1fr 65% repeat(2, 1fr) / 20% 65% 1fr;
    grid-template-areas:
            "header header header"
            "nav article article"
            "nav ads ads"
            "footer footer footer";
    grid-gap: 10px;
}
.wrapper * {
    padding: 1.25em;
    background-color: yellowgreen;
}

header { grid-area: header; }

nav { grid-area: nav; }

article { grid-area: article; }

section { grid-area: ads; }

footer { grid-area: footer; }