* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw; height: 100vh;
    display: grid;
    grid-template-columns: 20% repeat(4, 1fr);
    grid-gap: 10px;
}
.wrapper * {
    padding: 1.25em;
    background-color: yellowgreen;
}

header { grid-area: 1 / 1 / 2 / span 5; }

nav { grid-area: 2 / 1 / span 14 / 2; }

article { grid-area: 2 / 2 / span 13 / span 4; }

section { grid-area: 15 / 2 / 16 / span 4; }

footer { grid-area: 16 / 1 / 17 / span 5; }