* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw; height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.wrapper * {
    padding: 10px;
    background-color: gold;
    color: white;
    font-size: 3.5em;
}

.box-1 { grid-area: 1 / 1 / 2 / span 4; }

.box-2 { grid-area: 2 / 1 / span 4 / 2; }

.box-3 { grid-area: 2 / 2 / 3 / 3; }

.box-4 { grid-area: 2 / 3 / 3 / span 2; }

.box-5 { grid-area: 3 / 2 / 4 / span 2; }

.box-6 { grid-area: 3 / 4 / 4 / 5; }

.box-7 { grid-area: 4 / 2 / 5 / 3; }

.box-8 { grid-area: 4 / 3 / 5 / 4; }

.box-9 { grid-area: 4 / 4 / 5 / 5; }

.box-10 { grid-area: 5 / 2 / 6 / span 3; }