:root {
    --darkgrey: #323232;
    --lightgrey: rgba(255, 255, 255, .25);
    --white: white;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body { font-family: sans-serif; }
a {
    padding: .75em 1em;
    color: var(--white);
    text-decoration: none;
    display: block;
}

.navbar {
    padding: 0 1.5em;
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-sign-in {
    display: flex;
    align-items: center;
}
.bbc-logo { height: 25px; }
.sign-in {
    margin-left: .5em;
    border-left: 1px solid var(--lightgrey);
}

.navbar-nav-search {
    display: flex;
    align-items: center;
    flex-basis: 65%;
}
.navbar-nav {
    margin-right: .5em;
    list-style: none;
    display: flex;
}
.navbar-nav > .nav-item { border-left: 1px solid var(--lightgrey); }
.navbar-nav > .nav-item:last-of-type { border-right: 1px solid var(--lightgrey); }
.navbar-search { flex-grow: 2; }
.navbar-search #search { width: 100%; }