:root {
    --darkgrey: #323232;
    --lightgrey: rgba(255, 255, 255, .25);
    --white: white;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body { font-family: sans-serif; }

.navbar {
    padding: 0 1.5em;
    background-color: var(--darkgrey);
    position: relative;
    line-height: 45px;
    clear: both;
}

.navbar-logo {
    height: 25px;
    vertical-align: middle;
}

.navbar-right { float: right; }
.navbar-nav {
    list-style: none;
    float: left;
}
.navbar-nav > .nav-item {
    border-left: 1px solid var(--lightgrey);
    display: inline-block;
}
.navbar-nav > .nav-item > a {
    color: var(--white);
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.navbar-right form { float: right; }
